#info {
  position: absolute;
  top: 100px;
  left: 60%;
  width: 30%;
  z-index: 100;
  display: block;
  color: white;
  word-wrap: break-word;
}

#home__title {
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;
  z-index: 100;
  color: white;
  font-size: 300%;
  font-family: "Times New Roman";
}

#home__description {
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
  z-index: 100;
  color: white;
  font-size: 120%;
  font-family: "Times New Roman";
}

#home__explore {
  position: absolute;
  width: 100%;
  top: 80%;
  text-align: center;
  z-index: 100;
  color: white;
  font-size: 120%;
  font-family: "Times New Roman";
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

canvas {
  position: relative;
  left: -20%;
}
