#info {
  position: absolute;
  top: 100px;
  left: 60%;
  width: 30%;
  z-index: 100;
  display: block;
  color: white;
  word-wrap: break-word;
}

#home__title {
  position: absolute;
  width: 100%;
  top: 25%;
  text-align: center;
  z-index: 100;
  color: white;
  font-size: 300%;
  font-family: "Times New Roman";
}

#home__description {
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center;
  z-index: 100;
  color: white;
  font-size: 120%;
  font-family: "Times New Roman";
}

#home__explore {
  position: absolute;
  width: 100%;
  top: 80%;
  text-align: center;
  z-index: 100;
  color: white;
  font-size: 120%;
  font-family: "Times New Roman";
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.banner {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 3%;
  z-index: 100;
  color: white;
  font-size: 300%;
  text-shadow: 1px 0 0 black,
    -1px 0 0 black,
    0 1px 0 black,
    0 -1px 0 black,
    1px 1px black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
  font-family: "Times New Roman";
  font-style: italic;
}

img, img.scale-with-grid {
  outline: 0;
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

p {
  position: absolute;
  width: 20%;
  text-align: center;
  top: 80%;
  z-index: 100;
  color: white;
  font-size: 250%;
  text-shadow: 1px 0 0 black,
    -1px 0 0 black,
    0 1px 0 black,
    0 -1px 0 black,
    1px 1px black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;
  font-family: "Times New Roman";
}

canvas {
  position: relative;
  left: -20%;
}
